/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

footer {
	background: darkblue;
	z-index: -1;
	position: sticky;
	padding: 2rem 0;
	bottom: 0;
	text-align: center;
	width: 100%;
}
.transition-group {
	box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
	min-height: 100vh;
	padding: 3rem 20vw;
	margin: 0 auto;
	z-index: 1;
	margin-bottom: 40vh;
	color: var(--theme-ui-colors-text, #f00);
	background-color: var(--theme-ui-colors-background, #0f0);
}
